[submodule "grammars/tree-sitter-python"]
	path = grammars/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "grammars/tree-sitter-java"]
	path = grammars/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java.git
[submodule "tree-sitter"]
	path = tree-sitter-lib
	url = https://github.com/tree-sitter/tree-sitter.git
