[submodule "tree-sitter"]
	path = tree-sitter-lib
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "grammars/java"]
	path = grammars/java
	url = https://github.com/AndroidIDEOfficial/tree-sitter-java.git
[submodule "grammars/json"]
	path = grammars/json
	url = https://github.com/tree-sitter/tree-sitter-json.git
[submodule "grammars/kotlin"]
	path = grammars/kotlin
	url = https://github.com/AndroidIDEOfficial/tree-sitter-kotlin
[submodule "grammars/log"]
	path = grammars/log
	url = https://github.com/AndroidIDEOfficial/tree-sitter-log
[submodule "grammars/python"]
	path = grammars/python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "grammars/xml"]
	path = grammars/xml
	url = https://github.com/AndroidIDEOfficial/tree-sitter-xml
[submodule "grammars/aidl"]
	path = grammars/aidl
	url = https://github.com/AndroidIDEOfficial/tree-sitter-aidl
[submodule "grammars/properties"]
	path = grammars/properties
	url = https://github.com/AndroidIDEOfficial/tree-sitter-properties
