
name: Build shared libraries

on:
  push:
    branches:
      - dev
      - main
  workflow_dispatch: {}

jobs:
  build:
    name: Build shared libraries + APK
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          access_token: ${{ github.token }}

      - name: Clone repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r25

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build project
        id: build
        shell: bash
        run: |
          chmod +x ./gradlew
          ./gradlew build
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
          PublishToMaven: ${{ github.ref == 'refs/heads/main' }}

      - name: Publish packages
        if: ${{ always() && github.event_name != 'pull_request' && github.ref == 'refs/heads/main' && steps.build.outcome == 'success' }}
        shell: bash
        run: ./gradlew nyxMake nyxMark publish release --stacktrace
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MVN_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MVN_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.MVN_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.MVN_SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.MVN_SIGNING_KEY_PASSWORD }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PublishToMaven: ${{ github.ref == 'refs/heads/main' }}

      - name: Upload sample app
        uses: actions/upload-artifact@v3
        if: ${{ !github.head_ref }}
        with:
          name: sample-app
          path: |
            app/build/outputs/apk/release/app-release.apk
            
